* {
  box-sizing: border-box;
}
#title-page{
  display: block;
  color: #f1f1f1;
  font-size: clamp(1em, 2.5vw, 1.25em);
}
#title{ /* title styling */
  text-shadow:0.1em 0.1em 0.1em #1c05a0, 0px -0.1em 0.1em #043988;
  text-align: center;
  color:#a09bdd;
  font-family: "Press Start 2P", "consolas", sans-serif;
  /* font-size: 4em; */
  font-size: clamp(2em, 3.5vw, 4em);
  letter-spacing: 4px;
}
.fa-youtube{
  color: red;
  display: block;
  display: inline;
  font-size: 200%;
}
#rules{
  font-style: italic;
  font-weight: bold;
}

body{
  background: linear-gradient(to bottom,#287c2b,#0B3D02);
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-image: url("refs/1920X1080_EN.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-position: center; 
  background-size: cover; */
}

button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transition-duration: 0.3s;
  background-color: black;
  color: white
}
button:active{
  background-color: tomato;
}
button.disabled{
  background-color: grey;
  color: whitesmoke;
  cursor: not-allowed;
}
.button{
  font-size: clamp(1em, 2.5vw, 1.25em);
  background-color: whitesmoke;
  color: black;
  font-family:"consolas", sans-serif;
  border-radius: 15px;
  cursor: pointer;
  display: block;
}
#new-round {
  display: none;
}
.control { /* Start - Back */
  padding: 1em 1em; /* up - right - down - left or up/down - right/left */
  border: 2px solid blue;
  align-self: flex-start;
  /* position: absolute; */
}
#play-again{
  margin: auto;
}
.commands { /* Fold - Raise - Call */
  padding: 0.75em;
  display: none;
  text-align: center;
  text-decoration: underline;
}

#game-area{ /* ----------------------------------------------------------------- */
  display: none;
  border-radius: 10px;
  /* height: 100vh; */
  width: 100%;
  flex-direction: column; /* Sets the main axis to vertical (y axis) - cross axis to x axis */
  justify-content: center;  
  /* along the main axis */
  align-items: center;
  /* along the cross axis */
  overflow: hidden;
}
.areas{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#game-top, #game-bottom{
  height: 25vh;
}
.hand{ /* flexbox container for hands */
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  align-items: center;
  /* border-style: solid;
  border-width: 5px;
  border-color: gold; */
  width: 25vw;
  height: 25vh;
  padding: 1rem;
  border: 10px solid gold; 
  /* font-size: 2em; */
  font-size: clamp(1em, 3.5vw, 2em);
} 
#pot, #player-budget{
  position: absolute;
  left: 0;
  top: 10%;
  margin-left: 2em;
}
#opponent-budget, #current-bet{
  position: absolute;
  right:0;
  top: 10%;
  margin-right: 2em;
}
#blind-indicator{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 10%;
  height: auto;
  width: 15vw;
  margin-right: 2em;
}
#turn-indicator{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 10%;
  height: auto;
  width: 15vw;
  margin-left: 2em;
}
.card-container{ /* flexbox container for hand cards*/
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}
.player-cards{ /* flexbox elements */
  height: 15vh;
  width: auto;
}
#cards{ /* flexbox container for community cards (1189.440 x 324.889)*/
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 5px solid gold;
  gap: 1vw;
  margin: 1em;
  padding: 1.5em;
  height: 30vh;
  width: 50vw;
  background-image: url("refs/poker-table.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-position: center; 
  background-size: cover;
}
.playing-cards{ /* flexbox elements */
  height: 20vh;
  /* height: min(20vh, 100px); */
  width: auto;
}
.actions{ /* flexbox container for commands*/
  display: flex;
  height: 10vh;
  position:relative;
  margin-top: 0.5em;
  bottom: 0px;
  justify-content: space-evenly;
  align-items: center;
}
#raise-container {
  display: none;
  position: absolute;
  bottom: 0;
  /* top:50%;
  left:50%;
  transform: translate(-50%, -50%); */
  background-color: #F8F8F8;
  padding: 1.5em;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}
#cancel-raise {
  position: absolute;
  top: 10%;
  left: 10%;
  background-color: #d3d3d3;
  border: none;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  /* font-size: 1rem; */
  font-weight: bold;
  cursor: pointer;
}
#confirm-raise {
  padding: 10px 15px;
  margin: 0.5em auto 0 auto;
  /* font-size: 1em; */
}
input[type="range"] {
  width: 80%;
}
input[type="number"] {
  padding: 5px;
  font-size: 1em;
  margin-top: 10px;
  text-align: center;
}
#opponent {
  background-color: #600000;
}
#player {
  background-color: #1E90FF;
}
.budget, .text-ui{
  /* font-size: 1.5em; */
  font-size: clamp(1em, 2.5vw, 1.5em);
  color:gold;
  font-weight: bold;
  text-wrap: nowrap;
}

.overlay { /* ----------------------------------------------------------- */
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  color: whitesmoke;
  text-align: center;
  padding-top: 20%;
}
.overlay h2{
  font-size: clamp(1.5em, 3.5vw, 2.5em);
  margin: auto;
}
#result {
  display: none;
  position: absolute;
  top: 50%;  /* Move 50% down from the top of the parent */
  left: 50%;
  transform: translate(-50%, -50%); 
  /* Shifting the element by 50% of its own width and height --> centering it */
  font-size: clamp(2.5em, 4.5vw, 5em);
  font-weight: bold;
  text-align: center;
  color: rgb(2, 59, 216);
  /* background-image: url("refs/1920X1080_EN.jpg"); */
  /* background-repeat: no-repeat; */
  background-attachment: fixed; 
  background-position: center; 
  background-size: cover;
  z-index: 10;
  /* animation: animation-name duration timing-function delay iteration-count direction fill-mode; */
}
@keyframes fadeIn{
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%), scale(1);
  }
}
@media (min-width: 1024px) { /* Desktop only */
  html, body {
    overflow: hidden;
  }

  #game-area {
    height: 100vh;
    width: 100vw;
  }
}

@media (max-width: 768px) { /* Mobile config */
  #title {
    font-size: 3rem;
  }

  #game-area {
    max-width: 100%;
    overflow-x: hidden;
    padding: 0.5rem;
  }

  .hand {
    width: fit-content;
    height: fit-content;
  }

  #cards {
    display: flex;
    max-width: 90vw;
    justify-content: center;
    height: auto;
  }

  #pot, #opponent-hand, #player-hand{
    font-size: 1rem;
    margin-bottom: 5px;
  }

  .player-cards, .playing-cards {
    height: auto;
    width: 18vw;
  }

  .actions {
    justify-content: center;
  }

  .button {
    width: 90%;
    padding: 0.75rem;
  }

}